.jumbotron{
	background-color: #0d6efd;
	color: white;
	margin-top: 50px;
}

.btn{
	background-color: #0d6efd;
}

.banner {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0% !important;
}

footer{
	padding: 0% !important;
	background-color: #0d6efd;
	margin-bottom: 10px;
	margin-top: 150px;
}

.card-hotel{
	flex: 1 200px;
	marging-top: 10px;
}

.btn-reserva{
	with: 100%;
	border-radius: 0px;
	color:white;

}
.fab{
	color: white;
}

.footer-address-icon{
	padding-right: 10px;
}

.banner{
	margin-right: 20px;
	padding: 20px 20px 0px 20px;
}

address{
	color:white;
}

.card-header{
	color:white;
}

.carousel-item {
  max-height: 620px;
}

.carousel-caption {
  font-weight: bolder;
  color: cornsilk;
}

.listaHoteles .card {
  width: 330px;
  height: auto;
  margin-top: 40px;
  color: #666;
}
.listaHoteles .card .card-title {
  color: #075f92;
  margin-bottom: 30px;
  margin-top: 30px;
}

.listaHoteles .card .btn {
  width: 40;
}



.listaHoteles .card-img-top {
  height: 220px;
}

.hotel{
	height: 100px;
	min-height: 100px;
	overflow: hidden;
}

.btn-inicio{
	width: 100;
  	background-color: blue;
  	display: flex;
  	justify-content: center;
}

.tab-content{
	padding-top: 20px;
}

