$blueHard: #1a7db8;
$blueLight: #64afdc;
$yellow: #fffa19;
$red: #ff0000;
$green: #00ff00;
$blue: #6699ff;



@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $blue;
	color: white;
	@include margenes(50px, 0px);
}

.btn{
	background-color: $blue;
	border-color: $blue;
}

.banner {
  @include margenes(50px, 20px);
  padding: 0% !important;
}

footer{
	padding: 0% !important;
	background-color: $blue;
	@include margenes(150px, 10px);

}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	with: 100%;
	border-radius: 0px;
	color: white;
	border-color: $blue;

}
.fab{
	color: white;
}

.footer-address-icon{
	padding-right: 10px;
}

.banner{
	margin-right: 20px;
	padding: 20px 20px 0px 20px;
}

address{
	color: white;
}

.card-header{
	color: white;
}

.carousel-item {
  max-height: 620px;
}

.carousel-caption {
  font-weight: bolder;
  color: cornsilk;
}

.listaHoteles .card {
  width: 330px;
  height: auto;
  @include margenes(40px, 0px);
  color: #666;
}
.listaHoteles .card .card-title {
  color: #075f92;
  @include margenes(30px, 30px);
}

.listaHoteles .card .btn {
  width: 40;
}



.listaHoteles .card-img-top {
  height: 220px;
}

.hotel{
	height: 100px;
	min-height: 100px;
	overflow: hidden;
}

.btn-inicio{
	width: 100;
  	background-color: $blue;
  	display: flex;
  	justify-content: center;
  	border-color: $blue;
}

.tab-content{
	padding-top: 20px;
}

.nav-link{
	color: $blue;
}
